<div class="container">
  <div class="card shadow">
    <div class="card-header">
      <h3>
        About Us
      </h3>
    </div>
    <div class="card-body">
      CrisMan SaaS is authored by 
      <a target="_blank" href="https://github.com/domaincrisman">Cristóbal Manzano</a>
      from
      <a target="_blank" href="https://crisman-saas.herokuapp.com">CrisMan-Saas</a>
      <p></p>
      You can use CrisMan SaaS as a boilerplate for building a Ruby on Rails single-database multitenant applications with billing on organisation-level (not individual)
      <p></p>
      You can learn to build such applications on your own, as well as discover all the reasonings for this architecture in the
      <a target="_blank" href="https://www.udemy.com/course/ruby-on-rails-6-learn-20-gems-build-an-e-learning-platform/?referralCode=4721E9D437DEE1734159">Udemy Course</a>
      <p></p>
      It has also been released a bestseller Udemy Course
      <a target="_blank" href="https://www.udemy.com/course/ruby-on-rails-6-learn-20-gems-build-an-e-learning-platform/?referralCode=4721E9D437DEE1734159">Ruby on Rails 6: Learn 25+ gems and build a Startup MVP 2020</a>
      <p></p>
    </div>
    <div class="card-footer">
      Questions?
      <a href="mailto:cmanzanor@hotmail.com?subject=CrisMan%20SaaS%20question">Contact us</a>
    </div>
  </div>
</div> 